app_id = "1234567890"
bot_token = "abcdefghijklmnopqrstuvwxyz1234567890"

record_dir = "/recordings" # default in container, ./recordings when standalone
date_format = "%Y_%m_%d_%H_%M_%S" # default

[default_output]
embed_files = true # default: false
# no post_command by default

[server_output.0123456789]
embed_files = true
post_command = "curl -H x-auth-request-preferred-username:disrecord -T {filename} http://127.0.0.1:3923/recordings/{guild}/{time}/"
